<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.girlydiaryapp"> <!-- Ensure this matches your application package -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GirlyDiaryApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.GirlyDiaryApp"> <!-- Optional: Change theme as needed -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="Sign Up"
            android:theme="@style/Theme.GirlyDiaryApp" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.GirlyDiaryApp" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GirlyDiaryApp" />

        <!-- Additional activities can be declared here -->

    </application>

</manifest>
